@import "tailwindcss";

/* Fondo personalizado para el login */
.login-bg {
  background-image: url('/images/arbolblanco1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}